<template template-target="settings">
    <h1>Settings</h1>
    <div>
        <h2>Code Snippets</h2>
        <div class="mb-3">
            <h3>Auto backup notes</h3>
            <p>Code snippets are automatically saved to a .json file to the backup location below.</p>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="settingsAutobackup" data-settings="snippet.autoBackup">
                <label class="form-check-label" for="settingsAutobackup">
                  Enable auto back.
                </label>
            </div>
        </div>
        <div class="mb-3">
            <h3>Backup Location</h3>
            <p>Location where backup .json files are saved.</p>
            <input type="text" class="form-control" data-settings="snippet.backupLocation">
        </div>
        <div class="mb-3">
            <h3>Max Number of Cards</h3>
            <p>The maximum number of code snippets loaded at one time</p>
            <input type="number" class="form-control" data-settings="snippet.numCards">
        </div>
        <hr>
        <div class="d-flex justify-content-end mt-3">
            <button class="btn btn-primary mr-2" id="settingsLoadDefaults">Load Defaults</button>
            <button class="btn btn-primary" id="settingsSaveBtn">Save</button>
        </div>
    </div>
    
</template>