<template template-target="word2html">
    <div class="contentHeader">
        <h1>Word to HTML</h1>
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <a class="nav-link active" id="nav-word-tab" data-bs-toggle="tab" href="#nav-word" role="tab" aria-controls="nav-word" aria-selected="true">Word</a>
                <a class="nav-link" id="nav-html-tab" data-bs-toggle="tab" href="#nav-html" role="tab" aria-controls="nav-html" aria-selected="false" >HTML</a>
                <a class="nav-link" id="nav-upload-tab" data-bs-toggle="tab" href="#nav-upload" role="tab" aria-controls="nav-upload" aria-selected="false" >Upload</a>
            </div>
        </nav>
    </div>           

    <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane contentContainer fade show active" id="nav-word" role="tabpanel" aria-labelledby="nav-word-tab">
            <textarea id="tinymce">Hello, World!</textarea>
        </div>
        <div class="tab-pane contentContainer fade" id="nav-html" role="tabpanel" aria-labelledby="nav-html-tab">
            <div class="btn-group" role="group" aria-label="Code Editor Options">
                <button type="button" class="btn btn-outline-secondary" id="codeUndoBtn"><i class="fas fa-undo"></i></button>
                <button type="button" class="btn btn-outline-secondary" id="codeRedoBtn"><i class="fas fa-redo"></i></button>
                <button type="button" class="btn btn-outline-secondary" id="codeWrapLineBtn">Line Wrap</button>
                <button type="button" class="btn btn-outline-secondary" id="codeCopyBtn">Copy All</button>
                <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#findReplaceModal" id="findReplaceToggle">Find/Replace</button>
            </div>
            <textarea id="codemirror"></textarea>
            <a href="https://codemirror.net/" target="_blank">Powered by CodeMirror</a>
        </div>
        <div class="tab-pane contentContainer fade" id="nav-upload" role="tabpanel" aria-labelledby="nav-upload-tab">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" checked>
                <label class="form-check-label" for="flexRadioDefault1">Show in app</label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" disabled>
                <label class="form-check-label" for="flexRadioDefault2">Generate partial files (in development)</label>
            </div>
            <div class="drop-region" id="codeUploadRegion">
                <div class="drop-message">
                    Drag & Drop Word file or click to upload
                </div>
            </div>
            <p id="codeUploadMessage" class="drop-region-uploadMsg"></p>
        </div>
    </div>

    <!-- Find/Replace Modal -->
    <div class="modal fade" id="findReplaceModal" tabindex="-1" aria-labelledby="findReplaceLabel" aria-hidden="true" data-bs-backdrop="false" style="width: auto; height: auto; top: 0; right: 0;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="findReplaceLabel">Find and Replace</h5>
                <button type="button" class="btn-close" id="findReplaceClose" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-flex mb-1">
                        <div class="input-group me-1">
                            <input type="text" class="form-control me-1" aria-label="Find" placeholder="Find" id="findReplaceFindText">
                        </div>
                        <button class="btn btn-primary me-1" id="findReplacePrevious" disabled><i class="fas fa-chevron-up" aria-label="Previous"></i></button>
                        <button class="btn btn-primary" id="findReplaceNext" disabled><i class="fas fa-chevron-down" aria-label="Next"></i></button>
                    </div>
                    <input type="text" class="form-control" aria-label="Replace" placeholder="Replace" id="findReplaceReplaceText">
                    <p id="findReplaceMessage" style="margin-bottom: 0;"></p>
                </div>
                <div class="modal-footer d-flex justify-content-end">
                    <div class="d-flex flex-column align-self-center flex-grow-1">
                        <div>
                            <input class="form-check-input mt-0 mr-1" type="checkbox" value="" id="findReplaceMatchCase" aria-label="Checkbox for matching case">
                            <label for="findReplaceMatchCase">Match Case</label>
                        </div>
                        <div>
                            <input class="form-check-input mt-0 mr-1" type="checkbox" value="" id="findReplaceMatchWhole" aria-label="Checkbox for whole words">
                            <label for="findReplaceMatchWhole">Whole words</label>
                        </div>
                    </div>
                    <button class="btn btn-primary" id="findReplaceFind">Find</button>
                    <button class="btn btn-secondary" id="findReplaceReplace" disabled>Replace</button>
                    <button class="btn btn-secondary" id="findReplaceReplaceAll" disabled>Replace all</button>
                </div>
            </div>
        </div>
    </div>
</template>