.toast{
    position: absolute; 
    top: 0; 
    right: 0; 
    min-width: 200px;
    z-index: 100;
}

.content{
    position: absolute;   
    width: 100vw;
    height: 100vh;
    z-index: 90;
    overflow: hidden;
}

.navVertical{
    background-color: #f1f1f1;
    border: 1px solid #ccc;
    border-right: none;
    height: 100vh;
}

.navVertical a{
    height: 60px;
    width: 60px;
    padding: 20px;
}

.navVertical .active{
    background-color: white;
}

.tabVertical{
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: calc(100vw - 60px);
    border-left: none;
}

.paneVertical{
    display: none;
    height: 100%;
}

.paneVertical.active{
    display: block;
}

.contentHeader{
    height: 100px;
}

.contentContainer{
    height: calc(100vh - 120px);
    position: relative;
	margin-bottom: 1.5rem;
	overflow: hidden;
}

.codeContainer{
	border-radius: 3px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, .3);
}

.CodeMirror {
    border: 1px solid #eee;
    height: calc(100% - 100px);
  }
  

#drop-region {
	background-color: #fff;
	border-radius:20px;
	box-shadow:0 0 35px rgba(0,0,0,0.05);
	width:400px;
	padding:60px 40px;
	text-align: center;
	cursor:pointer;
	transition:.3s;
}

#drop-region:hover {
	box-shadow:0 0 45px rgba(0,0,0,0.1);
}

.image-view{
    max-width: 80vw;
    max-height: 50vh;
}

.colorBox{
    width: 100px;
    height: 100px;
}